---
# ---------------------------------------------------------
# CART SERVICE (Node 3001)
# ---------------------------------------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart-service
  # namespace: $(NAMESPACE)
  labels:
    app: cart-service
    version: $(VERSION)
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cart-service
  template:
    metadata:
      labels:
        app: cart-service
        version: $(VERSION)
        tier: backend
    spec:
      serviceAccountName: $(SERVICE_ACCOUNT)
      containers:
        - name: cart-service
          image: surendraprajapati/cart-service:121  # CI will update this with correct image
          ports:
            - containerPort: 3001
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"

          # livenessProbe:
          #   httpGet:
          #     path: /health
          #     port: 3001
          #   initialDelaySeconds: 15
          #   periodSeconds: 15
          #   failureThreshold: 3
          # readinessProbe:
          #   httpGet:
          #     path: /ready
          #     port: 3001
          #   initialDelaySeconds: 5
          #   periodSeconds: 10
          


---
apiVersion: v1
kind: Service
metadata:
  name: cart-service
  # namespace: $(NAMESPACE)
  labels:
    app: cart-service
    version: $(VERSION)
spec:
  selector:
    app: cart-service
  ports:
    - protocol: TCP
      port: 3001
      targetPort: 3001
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: cart-service-hpa
  # namespace: $(NAMESPACE)
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: cart-service
  minReplicas: 2
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
