---
# ---------------------------------------------------------
# RATING SERVICE (Flask 5002)
# ---------------------------------------------------------
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rating-service
  # namespace: $(NAMESPACE)
  labels:
    app: rating-service
    version: $(VERSION)
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rating-service
  template:
    metadata:
      labels:
        app: rating-service
        version: $(VERSION)
    spec:
      serviceAccountName: $(SERVICE_ACCOUNT)
      containers:
        - name: rating-service
          image: surendraprajapati/rating-service:126  # CI/CD will patch this dynamically
          ports:
            - containerPort: 5002
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          livenessProbe:
            httpGet:
              path: /api/ratings/health
              port: 5002
            initialDelaySeconds: 10
            periodSeconds: 15
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /api/ratings/health
              port: 5002
            initialDelaySeconds: 5
            periodSeconds: 10
          
---
apiVersion: v1
kind: Service
metadata:
  name: rating-service
  # namespace: $(NAMESPACE)
  labels:
    app: rating-service
    version: $(VERSION)
spec:
  selector:
    app: rating-service
  ports:
    - protocol: TCP
      port: 5002
      targetPort: 5002
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: rating-service-hpa
  # namespace: $(NAMESPACE)
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: rating-service
  minReplicas: 2
  maxReplicas: 3
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
